:root {
  font-size: 1.5px;
  --screen-color: rgb(150,210,255);
  transition: font-size 600ms ease-in-out 1000ms;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  inset: 0;
  margin: auto;
  background: var(--screen-color);
  overflow: hidden;
  box-shadow: inset 0rem 0 30rem rgba(255,255,255, 1);
  transition: background-color ease-out .2s 1.6s;
}

/* light */

.light {
  display: grid;
  position: absolute;
  justify-content: center;
  justify-items: center;
  inset: 0;
  margin: auto;
  grid-template:
  ".. .. .."
  ".. cl .."
  ".. .. ..";


  /*         grid-template:
        "lot dit prt hat det fit" minmax(0, 1fr)
        "bet bet bet stt  ch  ch" minmax(0, 1.2fr)
        "act act act stt  ch  ch" minmax(0, 1.2fr)
        "act act act stt  ch  ch" minmax(0, .6fr)
        "... ... ... ...  ch  ch" minmax(0, .5fr)
        "acb acb acb bub  ch  ch" minmax(0, .6fr)
        "acb acb acb bub  ch  ch" minmax(0, 1.2fr)
        "beb beb beb bub  ch  ch" minmax(0, 1.2fr)
        "lob dib prb hab deb fib" minmax(0, 1fr)
        / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);   */
}

.centered-lights {
  grid-area: cl;
  position: relative;
  width: 150px;
}

.light-1 {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  background: rgb(200,255,255);
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 10px rgb(200,255,255);
  opacity: 0;
  transition:
    width .2s .5s,
    height .2s .5s,
    opacity ease-out .5s;
}

.light-2 {
  position: absolute;
  inset: 0;
  margin: auto;
  opacity: 0;
  transition: opacity 1s 1s, transform 1s 1.4s;
}

.light-2 > .layer-a {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  background: rgb(200,255,255);
  border-radius: 50%;
  /* z-index: 1; */
  box-shadow: 0 0 10px rgb(200,255,255);
}

.light-2 > .layer-b {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  background: var(--screen-color);
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgb(200,255,255);
  transition: background-color ease-out .2s 1.6s;
}

.light-2 > .rect-light {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 170px;
  height: 45px;
  transition: height .5s 1.4s;
}

.rect-light > .rect-cutout {
  width: 50%;
  height: 100%;
  background-color: var(--screen-color);
  transition: background-color ease-out .2s 1.6s;
}

.light-2 > .layer-c {
  transform: rotate(90deg);
}

.light-2 > .layer-d {
  transform: rotate(210deg);
}

.light-2 > .layer-e {
  transform: rotate(330deg);
}

.light-3 {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 0;
  height: 10px;
  background: rgb(200,255,255);
  z-index: 1;
  box-shadow: 0 0 10px rgb(200,255,255);
  opacity: 0;
  transition: width ease-out .2s 1.6s,
}

